<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar inverse">
      <div id='container'>
          <h3 id='title'>'blogger' App</h3>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Articles List", articles_path %></li>
              <li><%= link_to "New Article", new_article_path %></li>
              <li><%= link_to "Tag List", tags_path %></li>
            </ul>
          </nav>
        </div>
    </header>
  	<p class ="flash"><%= flash.notice %></p>
      <%= yield %>
  </body>
</html>
