<h1 class="center"> Article: <%= @articles.title %> </h1>
<div class='container'>

	<% if @articles.image_file_name != nil %>
		<p><%= image_tag @articles.image.url %></p>
	<% end %>
	<p>Tags:
	<% @articles.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %></p>
	<h3>Article</h3>
	<p><%=@articles.body %></p>

	<h3>Comments (<%= @articles.comments.size %>)</h3>
	<%= render partial: 'articles/comment', collection:@articles.comments %>

	<%= render partial: 'comments/form' %>

	<div>
		<%if logged_in? %>
			<%= link_to "Edit Article", edit_article_path(@articles), class: "btn" %>
			<%= link_to "Delete" , article_path(@articles), method: :delete, data: {confirm: "Really delete this article?"}, class: "btn"%>
		<% end %>
	</div>
</div>